{% extends 'base.html' %}

{% block contenido %}

    <div class="ui middle aligned center aligned grid ">
        <div id="add_cant_pro" class="column">
            <div style="text-align: left" class="column">
                <h2 style="color: #35BB9B; margin-bottom: 0px" class="ui image header">
                    <img style="width: 240px" class="image" src="/static/image/Agregar%20existencia%20existencia.png"/>
                </h2>
            </div>

            <form method="POST" action="" class="ui large form">
                {% csrf_token %}

                <div class="ui stacked segment">

                    <div class="field">
                        <label>Medicamento</label>

                        <div class="ui left icon input">
                            <select id="" class="ui fluid search dropdown" name="producto">
                                {% for producto in productos %}
                                    <option value="{{ producto.pk }}">{{ producto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>Cantidad</label>

                        <div class="ui left icon input">
                            {{ form.todo }}
                            {{ form.todo.errors }}
                        </div>
                    </div>

                    <div class="field">
                        <label>Fondo Fijo</label>

                        <div class="ui left icon input">
                            {{ form.fondo_fijo }}
                            {{ form.fondo_fijo.errors }}
                        </div>
                    </div>

                    <div class="ui buttons">
                        <button style="background-color: #35BB9B" type="submit" class="ui button">Guardar</button>
                        <div class="or"></div>
                        <button type="reset" class="ui button">Cancelar</button>
                    </div>
                </div>
                <div class="ui large">
                    <a class="ui fluid large button" href="{% url 'existencia' %}">Regresar</a>
                </div>
            </form>

        </div>

    </div>
{% endblock %}