{% extends 'base.html' %}

{% block contenido %}


    {% if formset %}
        <form method="POST" action="" class="ui large form">
            {% csrf_token %}

            <table class="ui celled selectable table">
                <thead>
                <tr>
                    <th colspan="2" class="left aligned">MINSAP-SC-2-06 y 9</th>
                    <th colspan="5" class="center aligned">TRANSFERENCIA ENTRE ALMACENES</th>
                    <th colspan="2" rowspan="2" class="left aligned">Fecha: {{ form.instance.fecha_hora }}</th>
                </tr>
                <tr>
                    <th colspan="5" class="left aligned">Entidad: H.U.C.Q</th>
                    <th colspan="2" class="left aligned">Código</th>
                </tr>
                <tr>
                    <th colspan="3" class="left aligned">Almacén-Recepción:</th>
                    <th colspan="2" class="left aligned">Código</th>
                    <th colspan="4" class="left aligned">Dirección</th>
                </tr>
                <tr>
                    <th colspan="3" class="left aligned">Almacén-Entrega:</th>
                    <th colspan="3" class="left aligned">Dirección:</th>
                    <th colspan="2" class="left aligned">Código:</th>
                    <th rowspan="1" class="left aligned">Lote:</th>
                </tr>
                <tr>
                    <th rowspan="2" class="center aligned">CÓDIGO</th>
                    <th rowspan="2" class="center aligned">DESCRIPCIÓN</th>
                    <th rowspan="2" class="center aligned">UM</th>
                    <th colspan="2" class="center aligned">CANTIDAD</th>
                    <th rowspan="2" class="center aligned">PRECIO</th>
                    <th colspan="2" class="center aligned">IMPORTE</th>
                    <th rowspan="2" class="center aligned">EXISTENCIA</th>
                </tr>
                <tr>
                    <th class="center aligned">ENVIADA</th>
                    <th class="center aligned">RECIBIDA</th>
                    <th class="center aligned">ENVIADA</th>
                    <th class="center aligned">RECIBIDA</th>
                </tr>

                </thead>
                {{ formset.management_form }}
                {% for form  in formset %}
                    <tbody>

                    <tr>
                        <td class="left aligned">{{ form.instance.producto.codigo }}</td>
                        <td class="left aligned">
                            {{ form.id }}
                            {{ form.instance.producto }}
                        </td>
                        <td class="left aligned">{{ form.instance.producto.unidad }}</td>
                        <td class="left aligned">{{ form.instance.cantidad_enviada }}</td>
                        <td class="left aligned">{{ form.cantidad_recibida }}</td>
                        <td class="left aligned">${{ form.instance.producto.precio }}</td>
                        <td class="left aligned">${{ form.instance.importe_enviada }}</td>
                        <td class="left aligned">${{ form.instance.importe_recibida }}</td>
                        <td class="left aligned">{{ form.instance.producto.existencia.todo|default:"NO HAY" }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="center aligned">TOTAL</td>
                    <td rowspan="1" class="left aligned">${{ form.instance.importe_enviada_total }}</td>
                    <td rowspan="1" class="left aligned">${{ form.instance.importe_recibida_total }}</td>
                    <td rowspan="1" class="left aligned"></td>
                </tr>
                <tr>
                    <td colspan="2">ENTREGADO POR: {{ form.instance.entregado_por }}</td>
                    <td colspan="3">AUTORIZADO POR: {{ form.autorizado_por }}</td>
                    <td colspan="3">RECIBIDO POR: {{ form.recibido_por }}</td>
                    <td>No. {{ form.instance.id }}</td>
                </tr>
                </tbody>

                <tfoot class="full-width">
                <tr>
                    <th colspan="12">

                        <button style="background-color: #35BB9B" id="despDev" type="submit" class="ui compact button"
                                data-inverted=""
                                data-tooltip="Recibir devolución"
                                data-position="right center"><a href=""><i class="plus icon"> </i></a>
                        </button>
                        <a href="{% url 'devolucionesAlmacen' %}">
                            <div style="background-color: #35BB9B" class="ui right floated small labeled icon button">
                                <i class="undo icon"></i>
                                Regresar
                            </div>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
    {% else %}
        <p>No hay solicitudes de devolución disponibles.</p>
    {% endif %}

{% endblock %}