{% extends 'base.html' %}

{% block contenido %}

    <h2 STYLE="text-align: center; margin-bottom: 30px">SOLICITUDES DE DEVOLUCIÓN</h2>


    {% if devf %}

        {% for df  in devf %}
            <div class="ui grid">
                <div class="four column centered row">
                    <div class="ui left aligned raised segment">
                        <table>
                            <td>
                                <h3 style="color: #676767">No. {{ df.id }} - F.S: {{ df.fecha_hora }}</h3>
                            </td>
                            <td style="text-align: right">
                                {% if user.is_authenticated %}
                                    <div class="ui icon buttons">
                                        <a style="color: #00827c" class="ui compact button" data-inverted=""
                                           data-tooltip="Recibir solicitud"
                                           data-position="top center" href="{% url 'despachar_devuelto_farmacia' df.id%}"><i
                                                class="write icon"> </i></a>
                                        <a style="color: #00827c" class="ui compact button" data-inverted=""
                                           data-tooltip="Eliminar solicitud"
                                           data-position="right center" href="{% url 'eliminar_devolucion_farmacia' df.id%}"><i
                                                class="remove icon"> </i></a>
                                    </div>
                                    </td>
                                    </table>
                                {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}



    {% else %}
        <p>No hay solicitudes de devolución disponibles</p>
    {% endif %}

    {% block script %}

    {% endblock %}

{% endblock %}