{% extends 'base.html' %}

{% block contenido %}

    <div class="ui middle aligned center aligned grid ">
        <div id="edit_dal" class="column">
            <div style="text-align: left" class="column">
                <h2 style="color: #35BB9B" class="ui image header">
                    <img class="image" src="/static/image/Editar%20producto1.png"/>
                </h2>
            </div>
            <form method="POST" action="" class="ui large form">
                {% csrf_token %}

                <div class="ui stacked segment">

                    <div class="field">
                        <label>Producto</label>

                        <div class="ui left icon input">
                            <select id="" class="ui fluid search dropdown" name="producto">
                                {% for producto in productos %}
                                    <option value="{{ producto.pk }}">{{ producto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>Cantidad Enviada</label>

                        <div class="ui left icon input">
                            {{ form.cantidad_enviada }}
                            {{ form.cantidad_enviada.errors }}
                        </div>
                    </div>

                    <div class="ui buttons">
                        <button style="background-color: #35BB9B" type="submit" class="ui button">Guardar</button>
                        <div class="or"></div>
                        <a href="{% url 'devolucionesFarmacia' %}">
                            <button class="ui button">Regresar</button>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}