{% extends 'base.html' %}

{% block contenido %}
<div class="ui middle aligned center aligned grid ">
        <div id="edit_usu" class="column">
            <h2 style="color: #35BB9B" class="ui image header">
                <img class="image" src="/static/image/Editar%20usuario.png"/>
            </h2>
            <form method="POST" action="" class="ui large form">
                {% csrf_token %}

                <div class="ui stacked segment">
                    <div class="field">
                        <label>Usuario</label>

                        <div class="ui left icon input">
                           {{ form.usuario }}
                            {{ form.usuario.errors }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Clave</label>

                        <div class="ui left icon input">
                            {{ form.clave }}
                            {{ form.clave.errors }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Nombre</label>

                        <div class="ui left icon input">
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Apellidos</label>

                        <div class="ui left icon input">
                            {{ form.apellidos }}
                            {{ form.apellidos.errors }}
                        </div>
                    </div>

                    <div class="ui buttons">
                        <button style="background-color: #35BB9B" type="submit" class="ui button">Guardar</button>
                        <div class="or"></div>
                         <a href="{% url 'usuario' %}">
                            <button class="ui button">Regresar</button>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}