{% extends 'base.html' %}

{% block contenido %}
    <div class="ui middle aligned center aligned grid ">
        <div id="edit_pro" class="column">
            <div style="text-align: left" class="column">
                <h2 style="color: #35BB9B" class="ui image header">
                    <img style="width: 240px" class="image" src="/static/image/Editar%20producto1.png"/>
                </h2>
            </div>
            <form method="POST" action="" class="ui large form">
                {% csrf_token %}


                <div class="ui stacked segment">

                    <div class="field">
                        <label>Nombre</label>

                        <div class="ui left icon input">
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                        </div>
                    </div>

                    <div class="field">
                        <label>Dosis</label>

                        <div class="two fields">
                            <div class="field">
                                {{ form.dosis }}
                                {{ form.dosis.errors }}
                            </div>
                            <div class="field">
                                <select id="" class="ui fluid search dropdown" name="unidad_medida">
                                    {% for um in unidadMed %}
                                        <option value="{{ um.pk }}">{{ um }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Unidad</label>

                        <div class="field">
                            {{ form.unidad }}
                            {{ form.unidad.errors }}
                        </div>
                    </div>

                    <div class="field">
                        <label>Código</label>

                        <div class="ui left icon input">
                            {{ form.codigo }}
                            {{ form.codigo.errors }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Precio</label>

                        <div class="ui left icon input">
                            {{ form.precio }}
                            {{ form.precio.errors }}
                        </div>
                    </div>

                    <div class="ui buttons">
                        <button style="background-color: #35BB9B" type="submit" class="ui button">Guardar</button>
                        <div class="or"></div>
                        <a href="{% url 'producto' %}">
                            <button class="ui button">Regresar</button>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}