{% extends 'base.html' %}


{% block contenido %}

    <h2 style="text-align: center; margin-bottom: 30px">INFORMACIÓN DEL USUARIO</h2>


    <div class="ui card">
        <div class="content">
            <h4 style="color: rgba(0,0,0,.6)"><i style="color: #35BB9B"
                                                 class="user icon"></i>{{ u.nombre }} {{ u.apellidos }}</h4>
        </div>
        <div class="image">
            <img src="/static/image/user-login-icon-14.png">
        </div>
        <div class="content">
            <span style="color: rgba(0,0,0,.6)" class="left floated"> <i style="color: #35BB9B"
                                                                          class="user icon"></i>{{ u.usuario }}</span>
            <span style="color: rgba(0,0,0,.6)" class="right floated"><i style="color: #35BB9B"
                                                                        class="lock icon"></i>{{ u.clave }}</span>
            <span style="color: rgba(0,0,0,.6)" class="left floated"><i style="color: #35BB9B"
                                                                        class="calendar icon"></i>{{ u.fecha_hora }}</span>
        </div>
        <div class="extra content">
            <div class="ui large">
                <a style="background-color: #35BB9B" class="ui fluid large submit button" href="{% url 'usuario' %}">Regresar</a>
            </div>
        </div>
    </div>

{% endblock %}