{% extends 'base.html' %}

{% block contenido %}


    {% if psd %}
        <form method="POST" action="" class="ui large form">
            {% csrf_token %}

            <table class="ui celled selectable table">
                <thead>
                <tr>
                    <th colspan="2" class="left aligned">MOD 17-24 MINISTERIO DE SALUD PÚBLICA CONTROL</th>
                    <th colspan="5" rowspan="2" class="center aligned"><h2 style="color: #000000">PEDIDO DE SALA</h2></th>
                    <th colspan="2" class="left aligned">FECHA: {{ peds.fecha_hora }}</th>
                </tr>
                <tr>
                    <th colspan="2" class="left aligned">UNIDAD: H.U.C.Q</th>
                    <th colspan="2" class="left aligned">C.COSTO: {{ peds.sala.centro_costo }}</th>
                </tr>
                <tr>
                    <td colspan="9" class="center aligned">RESUMEN DEL PEDIDO</td>
                </tr>
                <tr>
                    <th rowspan="2" class="center aligned">CÓDIGO</th>
                    <th rowspan="2" class="center aligned">PRODUCTO</th>
                    <th rowspan="2" class="center aligned">DOSIS</th>
                    <th rowspan="2" class="center aligned">UNIDAD</th>
                    <th colspan="2" class="center aligned">CANTIDAD</th>
                    <th rowspan="2" class="center aligned">PRECIO</th>
                    <th rowspan="2" class="center aligned">IMPORTE</th>
                    <th rowspan="2" class="center aligned">SALDO</th>
                </tr>
                <tr>
                    <th class="center aligned">SOLICIT.</th>
                    <th class="center aligned">ENTREG.</th>
                </tr>
                </thead>
                {% for ps  in psd %}
                    <tbody>

                    <tr>
                        <td class="left aligned">{{ ps.producto.codigo }}</td>
                        <td class="left aligned">{{ ps.producto }}</td>
                        <td class="left aligned">{{ ps.producto.dosis }} {{ ps.producto.unidad_medida }}</td>
                        <td class="left aligned">{{ ps.producto.unidad }}</td>
                        <td class="left aligned">{{ ps.cantidad_solicitada }}</td>
                        <td class="left aligned">{{ ps.cantidad_entregada }}</td>
                        <td class="left aligned">${{ ps.producto.precio }}</td>
                        <td class="left aligned">${{ ps.importe }}</td>
                        <td class="left aligned">{{ ps.saldo }}</td>


                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">SALA: {{ peds.sala }}</td>
                    <td colspan="5" class="center aligned">TOTAL</td>
                    <td class="left aligned">${{ peds.importe_total }}</td>
                    <td class="left aligned"></td>
                </tr>
                <tr>
                    <td colspan="2">SOLICITADO POR: {{ peds.solicitado_por }}</td>
                    <td colspan="2">APROBADO POR: {{ peds.aprobado_por }}</td>
                    <td colspan="2">DESPACHADO POR: {{ peds.despachado_por }}</td>
                    <td colspan="2">RECIBIDO POR: {{ peds.recibido_por }}</td>
                    <td>No. {{ peds.id }}</td>
                </tr>
                </tbody>

                <tfoot class="full-width">
                <tr>
                    <th colspan="12">

                        <a style="background-color: #1AB99C" class="ui compact button" data-inverted="" data-tooltip="Ver pedidos de cama asociados"
                                data-position="top center" href="{% url 'pedidos_cama_relacionados' id_ps%}"><i class="unhide icon"> </i>
                        </a>
                         <a style="background-color: #4B89DA" class="ui compact button" data-inverted="" data-tooltip="Imprimir despacho"
                                data-position="right center" href="{% url 'ReportePedidoSalaPDF' id_ps%}"><i class="print icon"> </i>
                        </a>
                         <a href="{% url 'buscar' %}">
                            <div style="background-color: #35BB9B" class="ui right floated small labeled icon button">
                                <i class="undo icon"></i>
                                Regresar
                            </div>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
    {% else %}
        <p>No hay pedidos disponibles.</p>
    {% endif %}

{% endblock %}